footer {
  color: $dark-grey;
  padding: 110px 130px 20px 130px;
  text-align: left;
  font-size: 1.2rem;
  background: #141414;

  p {
    padding-left: 40px;
  }

  li {
    list-style-type: none;
  }

  #social-media {
    display: flex;

    li {
      padding-right: 25px;
    }

    .fa {
      font-size: 3.5rem;
    }
  }

  #technologies {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  li {
    padding-bottom: 15px;
  }
}
