// Colors
$red: #E30919;
$green: #5AC776;
$dark-red: #B80612;
$white: #fff;
$grey: #DFDAE0;
$dark-grey: #808080;
$black: #000;
$grey-nav: #928B93;
$bg-color: #171218;
$transparent-white: rgba(255, 255, 255, 0.2);
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
